.form-newnote{
    width: 600px;
}

.input-title{
    width: 100%;
}

.input-category{
    width: 100%;
}

.input-content{
    width: 100%;
}

.button-save{
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .form-newnote{
        width: 90%;
    }
}